In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [10]:
url = r'C:\Users\pawar\data_science\workshop\1.eda_automation_using_mistral ollama and gradio\titanic_ dataset_final.csv'
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [12]:
df.head()
# df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
import ollama
def generate_insights(df_summary):
    prompt = f"Analyze the dataset summary and provide insights:\n\n{df_summary}"
    
    response = ollama.chat(model="gemma2:2b",messages=[{"role": "user", "content": prompt}])
    return response['message']['content']

# Generate AI Insights
summary = df.describe().to_string()
insights = generate_insights(summary)
print("\nAI-Generated Insights:\n", insights)

AI-Generated Insights:
 ## Dataset Summary Analysis and Insights

This dataset appears to be a sample of passenger data from a voyage (likely on a ship), containing information about individuals' survival, demographics, travel costs, and more. Here's an analysis of the provided summary:

**1. Overall Observations:**

* **Dataset Size:** The dataset has 891 rows, which is large enough to gather meaningful insights.
* **Missing Values:**  There seems to be no missing values in any column of this dataset. It represents a complete dataset with consistent information for each passenger.
* **Data Types:** All variables appear numerical and relevant to the context:
    * **PassengerId:** Unique identifier for each passenger.
    * **Survived:** Whether the passenger survived (1) or not (0).
    * **Pclass:**  Class of passenger (1st, 2nd, or 3rd class).
    * **Age:** Age in years of the passenger.
    * **SibSp:** Number of siblings/spouses traveling with the passenger.
    * **Parch:** Number of children/other relatives traveling with the passenger.
    * **Fare:** Ticket cost (in a standard currency).

**2. Key Insights:**

* **Survival Distribution:** The most prominent observation is the wide range in survival rate within each passenger class, which shows that not all passengers experience success or failure during a voyage. It is important to know that the dataset suggests a strong positive correlation between survival and passenger class.
    * **Passenger Class:** There might be significant differences between classes in terms of safety and access to resources that affect survival rates, and this may require further investigation into specific travel conditions, social dynamics, and onboard services.
* **Age & Fare Correlation:** The relationship between age and fare suggests that older passengers (potentially retired or frail) tend to pay less for their travel costs compared to younger passengers who might be exploring or working during a voyage.
* **Statistical Summary:** We can observe the average survival rate (0.38) across all passengers, as well as the standard deviation (which represents the dispersion of data), and minimum/maximum values for each column.

**3. Potential Questions and Further Exploration:**

* **Relationship between Class, Age, Fare, and Survival:**  How does the survival rate correlate with age, class, and fare?
* **Correlation between Passengers & Their Journey:**  Are there specific patterns in passengers' destinations based on their demographic profile?
* **Passenger Demographics:** Is there a significant correlation between passenger demographics (age, gender, etc.) and survival rates within different classes?

**4. Potential Applications:**
* **Predictive Modeling:** This dataset can potentially be used for developing predictive models to estimate survival probabilities or analyze factors affecting travel costs.
* **Social Impact Research:** The data could contribute insights into social dynamics on a voyage, exploring the impact of class and other demographic factors on passenger experience and survival chances.
* **Historical Analysis:**  The dataset could serve as a historical record of travel trends, passenger demographics, and societal structures at the time.

**Important Considerations:**

* **Bias & Ethical Implications:** This data set is likely to contain biased information due to the historical context. Be aware that social dynamics and systemic inequalities might influence survival rates, which should be analyzed with caution.
* **Privacy Concerns:** It's crucial to ensure that the dataset complies with privacy regulations and ethical guidelines when using it for research or analysis.


Overall, this dataset offers a rich resource for analyzing travel patterns, passenger demographics, and potentially investigating factors affecting survival during voyages. Further analysis can reveal insights into historical trends, social dynamics, and potential areas of improvement.

In [14]:
# import ollama

# def generate_insights(df_summary):
#     prompt = f"Analyze the dataset summary and provide insights:\n\n{df_summary}"
    
#     response = ollama.generate(model="gemma2:2b", prompt=prompt)
#     return response['response']  # Directly fetches the response

# # Generate AI Insights
# summary = df.describe().to_string()
# insights = generate_insights(summary)
# print("\nAI-Generated Insights:\n", insights)

In [15]:
import gradio as gr
def eda_analysis(file):
    df = pd.read_csv(file)  # .name gives path for uploaded file
    summary = df.describe().to_string()
    insights = generate_insights(summary)
    return insights

demo = gr.Interface(fn=eda_analysis,inputs="file",outputs="text")

demo.launch(share=True)

* Running on local URL:  http://127.0.0.1:7861

Could not create share link. Missing file: C:\Users\pawar\.cache\huggingface\gradio\frpc\frpc_windows_amd64_v0.3.

Please check your internet connection. This can happen if your antivirus software blocks the download of this file. You can install manually by following these steps:

1. Download this file: https://cdn-media.huggingface.co/frpc-gradio-0.3/frpc_windows_amd64.exe
2. Rename the downloaded file to: frpc_windows_amd64_v0.3
3. Move the file to this location: C:\Users\pawar\.cache\huggingface\gradio\frpc

In [7]:
# import gradio as gr

# def eda_analysis(file):
#     df = pd.read_csv(file.name)
#     summary = df.describe().to_string()
#     insights = generate_insights(summary)
#     return insights

# # Create Web Interface
# demo = gr.Interface(fn=eda_analysis, inputs="file", outputs="text", title="AI-Powered EDA with Mistral / gemma2:2b   ")

# # Launch App
# demo.launch(share=True)  # Use share=True for Google Colab